extends ../layout

block content

    div.callout.large.primary
        div.row.column.text
            if(!table)
                h2 no data
            else
                h2 BSIMM Table for
                        != ' ' + title
                br
                table
                    thead
                        tr
                            for title in table.headers
                                th(colspan=2)= title

                    tbody
                        tr
                            each val in [1, 2, 3, 4]
                                td
                                    b Activity
                                td
                                    b Status
                        for row in table.rows
                            tr
                                if row[0]
                                    td
                                        .label.success.round= row[0]
                                    td
                                        != row[1]
                                if row[2]
                                    td
                                        .label.info.round= row[2]
                                    td
                                        != row[3]
                                if row[4]
                                    td
                                        .label.warning.round= row[4]
                                    td
                                        != row[5]
                                if row[6]
                                    td
                                        .label.regular.round= row[6]
                                    td
                                        != row[7]